.gallery__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.cards {
  width: 20rem;
  height: 20rem;
  align-items: center;
  margin-bottom: 2rem;
  border: 2px solid transparent;
  border-color: var(--color-gray-100);
  border-radius: 2rem;
  margin-left: 1rem;
}
.cards:hover {
  background: transparent;
  border-color: var(--color-gray-400);
  cursor: default;
}

.gallery__image {
  width: 20rem;
  height: 20rem;
  border-radius: 5rem;
  align-items: center;
  padding: 1rem;
}

.gallery__container article {
  border: 2px solid transparent;
  transition: var(--transition);
}

.gallery__container article:hover {
  border-color: var(--color-gray-500);
}

/* Media Queries */

/* Medium Devices */

@media screen and (max-width: 1024px) {
  .gallery__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .gallery__container article {
    border: 0;
  }
}

/* Small Devices */

@media screen and (max-width: 600px) {
  .gallery__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
